@model CarsStore.Models.ViewModels.Admin.AdminPageVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin panel";
}

<h2>Admin area</h2>

@Html.ActionLink("Add offer","AddOffer",null,new {@class="btn btn-lg"})

<div class="row">
    <div class="col-md-6">
        <h3>Offers</h3>
        @foreach (var offer in Model.Offers)
        {
            <div>
                <h4>@Html.DisplayFor(vm => offer.Id)</h4>
                <h4>@Html.DisplayFor(vm => offer.Brand)</h4>
                @Html.ActionLink("Edit","EditOfffer",new {id=offer.Id},new {@class="btn btn-lg btn-primary"})
            </div>
        }
    </div>
    <div class="col-md-6">
        <h3>Users</h3>
        @foreach (var user in Model.Users)
        {
            <div>
                <h4>@Html.DisplayFor(vm => user.Id)</h4>
                <h4>@Html.DisplayFor(vm => user.Name)</h4>
                @Html.ActionLink("Edit", "EditUser", new { id = user.Id }, new { @class = "btn btn-lg btn-primary" })
            </div>
        }
    </div>
</div>

